[AUTHOR]
NAME=Andreas Huber
EMAIL=andi@loao.at

[PLUGIN]
# Version of this plugin.
VERSION=0.6.4

# Short technical name and folder name. NEVER CHANGE after first release!
NAME=kia2lox
FOLDER=kia2lox

# Friendly display name, max 25 characters.
TITLE=Kia2Lox

[AUTOUPDATE]
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/RiverRaid/LoxBerry-Plugin-KiaConnect/main/release.cfg
PRERELEASECFG=https://raw.githubusercontent.com/RiverRaid/LoxBerry-Plugin-KiaConnect/main/prerelease.cfg

[SYSTEM]
# Plugin Interface version.
INTERFACE=2.0

# No reboot needed after install.
REBOOT=false

# Minimum LoxBerry version (this dev LoxBerry runs 3.0.1.2, plugin interface 2.0).
LB_MINIMUM=2.0.0
LB_MAXIMUM=false

# No special hardware architecture required.
ARCHITECTURE=false

CUSTOM_LOGLEVELS=true
