[AUTOUPDATE]
# Version of the latest prerelease (beta) build.
VERSION=0.7.4

# Download URL of the prerelease ZIP archive (GitHub tag archive).
ARCHIVEURL=https://github.com/RiverRaid/LoxBerry-Plugin-KiaConnect/archive/refs/tags/0.7.4.zip

# URL for further information about this release
INFOURL=https://github.com/RiverRaid/LoxBerry-Plugin-KiaConnect/releases
