[AUTOUPDATE]
# Version of the latest prerelease (beta) build.
VERSION=0.7.1

# Download URL of the prerelease ZIP archive (GitHub tag archive).
ARCHIVEURL=https://github.com/RiverRaid/LoxBerry-Plugin-KiaConnect/archive/refs/tags/0.7.1.zip
